body{
    background-color: black;
}
.container{
    background-color: white;
    height: 100vh;
    display: flex;
    gap: 10px;
    flex-direction: row;
}


.box{
    margin: auto;
    height: 400px;
    width: 50%;
    background-color: pink;
}


.second{
    background-color: white;
    display: flex;
    flex-direction: column;
    gap: 10px;
}


.one{
    height: 50%;
    background-color: yellow;
}

.two{
    height: 50%;
    background-color: green;
}